body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3ebfae1;

    height: 100vh;
}

nav {
    background-color: #410066c9;
    padding: 10px 0;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 20px;
}

.menu a {
    text-decoration: none;
    color: #e3ebfae1;
    font-size: 16px;
    padding: 8px 15px;
    display: block;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #41006649;
    border-radius: 5px;
}

.container {
    text-align: center;
}

.imagem {
    max-width: 50%;
    height: auto;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.39);
    border-radius: 15px;
}

h1 {
    font-size: 2.5em;
    margin: 0;
    color: #0a0046c7;
}

p {
    font-size: 1.2em;
    color: #0b0046a9;
}
