* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: d1cfe9cb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

}

.container {
    background-color: ffffffd3;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(161, 0, 0, 0.411);
    width: 100%;
    max-width: 500px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: rgba(0, 12, 175, 0.575);
}

input[type="date"]
{
    width: 450px;
    font-size: 15px;
    padding: 10px;
    color: rgba(0, 12, 175, 0.575);
    border: 1px solid #ccc ;
    border-radius: 5px;
}

input[type="email"]
{
    width: 450px;
    font-size: 15px;
    padding: 10px;
    color: rgba(0, 12, 175, 0.575);
    border: 1px solid #ccc ;
    border-radius: 5px;

}
input[type="tel"]
{
    width: 450px;
    font-size: 15px;
    padding: 10px;
    color: rgba(0, 12, 175, 0.575);
    border: 1px solid #ccc ;
    border-radius: 5px;

}
input[type="radio"]
{
    color: rgba(0, 12, 175, 0.575);

}
.RM{
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc ;
    border-radius: 5px;
    font-size: 16px ;
}
.curso{
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc ;
    border-radius: 5px;
    font-size: 16px ;
}
.Observação{

    width: 450px;
    font-size: 15px;
    padding: 100px;
    color: rgba(0, 12, 175, 0.575);
    border: 1px solid #ccc ;
    border-radius: 5px;

}
.nome{
    width: 450px;
    font-size: 15px;
    padding: 10px;
    color: rgba(0, 12, 175, 0.575);
    border: 1px solid #ccc ;
    border-radius: 5px;
}

button[type="submit"] {
    /*width: 100%;*/
    padding: 10px;
    background-color: #c90606f3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 120px; /* Largura do botão */
    height: 55px;
}

button[type="button"] {
    /*width: 100%;*/
    padding: 10px;
    background-color: #c90606f3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px; /* Largura do botão */
    height: 55px;
}

button[type="reset"] {
    /*width: 100%;*/
    padding: 10px;
    background-color: #c90606f3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px; /* Largura do botão */
    height: 55px;
}

button[type="submit"]:hover {
    background-color: #eb0404;
}

button[type="button"]:hover {
    background-color: #eb0404;
}

button[type="reset"]:hover {
    background-color: #eb0404;
}
